<div class="row valign-wrapper">
    <div class="col m3 offset-m3 s6 center-align">
        <h5>{{ book.name }}</h5>
    </div>

    <div class="col m3 s6 center-align">
        <a class="btn-floating waves-effect waves-light blue"
            (click)="showInfo=!showInfo">
            <i *ngIf="showInfo" class="material-icons">keyboard_arrow_up</i>
            <i *ngIf="!showInfo" class="material-icons">keyboard_arrow_down</i>
        </a>
        <a [routerLink] = "'/readers/'+book.name"
            class="margin-3 btn-floating waves-effect waves-light blue-grey"
            style="margin-left: 5px;">
            <i class="material-icons">view_headline</i>
        </a>
    </div>
</div>

<div class="info" *ngIf="showInfo">
    <div class="input-field">
        <input type="text" id="author" class="validate" [(ngModel)]="book.author">
        <label for="author" class="active">Author</label>
    </div>
    <div class="input-field">
        <input type="number" id="cost" class="validate" [(ngModel)]="book.cost">
        <label for="cost" class="active">Cost</label>
    </div>
    <div class="input-field">
        <input type="number" id="pages" class="validate" [(ngModel)]="book.pages">
        <label for="pages" class="active">Pages</label>
    </div>
    <a class="rem-row btn-floating waves-effect waves-light red"
            (click)="delBook()">
        <i class="material-icons">delete</i>
    </a>
</div>
