<div class="row">
  <div class="col m6 offset-m3 s12">
    
    <a *ngIf="!showForm" (click)="showForm=true"
        class="btn-floating btn-large waves-effect waves-light green">
      <i class="material-icons">add</i>
    </a>

    <form *ngIf="showForm" #myForm="ngForm" novalidate
        (ngSubmit)="onSubmit(myForm)">
      <h5>New book</h5>
      
      <div class="input-field">
        <input id="name" name="name" ngModel
            required type="text">
        <label for="name">Name</label>
      </div>

      <div class="input-field">
        <input id="author" name="author" ngModel
            required type="text">
        <label for="author">Autor</label>
      </div>

      <div class="input-field">
        <input id="cost" name="cost" ngModel
            required type="number">
        <label for="cost">Cost</label>
      </div>

      <div class="input-field">
        <input id="pages" name="pages" ngModel
            required type="number">
        <label for="pages">Pages</label>
      </div>

      <div class="form-group">
        <button type="button" (click)="showForm=false"
            class="rem-row btn-floating waves-effect waves-light left bright-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>

        <button type="submit" [disabled]="myForm.invalid"
            class="rem-row btn-floating waves-effect waves-light right green">
          <i class="material-icons">done</i>
        </button>
      </div>

    </form>
  </div>
</div>